/* Main Navbar */
.navbar-expand-md {
    background-color: var(--z-gray);
    font-family:'top_secretsans';
}

.navbar-brand {
    background-color: var(--z-gray);
	font-family:'top_secretsans';
}


.navbar-collapse {
    background-color: var(--z-gray);
    font-family:'top_secretsans';
}

.navbar-nav > .active > a { 
    background-color: var(--z-purple) ; 
}
