<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="/">
        <img class="navbar-brand img-responsive" src="assets/images/zeropatch-lg.png" alt="ZERO Logo" style="width:80px;height:80px;position:relative;">
        ZERO</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapsing()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]="navbarCollapsed" class="navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/outbreak"><strong>Outbreak</strong></a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/join">Join</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Test</a>
      </li>
      </ul>
    </div>  
  </nav>
