body {
    background: url('/assets/images/zapocaplypse.jpg') center center/cover no-repeat fixed #ccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
